body {

}

.slider{
background-color: #FFCC66;
padding: 20px;
}

.sliderBar
{
	float:left;
	background-color: #66CC66;
	height: 40px;
}

.sliderSquare
{
	float: left;
	height: 40px;
	width: 40px;
	background-color: black;
}

.sliderClear
{
	clear:both;
	width:0px;
}

.sliderContent
{
	width: 340px;
	height: 40px;
	margin-bottom: 10px;
}
