body {

}

.slider{
background-color: #FFCC66;
padding: 20px;
}

.sliderBar
{
	float:left;
	background-color: #66CC66;
}

.sliderSquare
{
	float: left;
	background-color: black;
}

.sliderClear
{
	clear:both;
	width:0px;
}

.sliderContent
{
	width: 220px;
	height: 20px;
	margin-bottom: 10px;
}

.sliderImg{
	float:left;
	width: 20px;
	padding-right: 20px;
}

.sliderValue
{
	float: left;
	font-weight: bold;
	font-family: System, monospace;
	width: 40px;
}

div.holder{
display: table-cell;
width: 20px;
text-align: center;
vertical-align: middle;
}

div.holder img { margin: 0 auto;}

* html #edge {
display: inline-block;
width: 0;
height: 100%;
vertical-align: middle;
}

* html #container {
display: inline-block;
width: 100%;
text-align: center;
vertical-align: middle;
}

